<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">	
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
	<title>Pizze</title>
	</head>
	<body>
	<header th:insert="~{frag :: header-nav}"></header>
		<main class="container">
		<div class="d-flex justify-content-center p-3">
				<h3>Create</h3>
			</div>
			<div th:insert="~{frag :: error}"></div>				 
		  	<form class="container border mt-5 p-3" 
		 			method="POST" 
		 			th:action="@{/photo/create}"
		 			th:object="${photo}">
		 			<!--th:field aggancia le proprietà agli input corrispondenti-->
		 			<input type="number" name="id" th:field="*{id}" class="d-none">
		 				<div class="mb-3">
			 				<label class="form-label">Titolo:</label>
			 				<input class="form-control" type="text" name="title" th:field="*{title}">
 						</div>
			 			<div class="mb-3">
			 				<label class="form-label">Descrizione:</label>
			 				<input class="form-control" type="text" name="description" th:field="*{description}">
			 			</div>
			 			<div class="mb-3">
			 				<label class="form-label">url</label>
			 				<input class="form-control" type="text" name="url" th:field="*{url}">
			 			</div>
			 			<div class="mb-3">
			 				<label class="form-label">tag</label>
			 				<input class="form-control" type="text" name="tag" th:field="*{tag}">
			 			</div>
			 		<div>
 						<input type="radio" id="visible-true" name="visible" value="1" th:field="*{visible}">
 				        <label for="visible-true">Visible</label>
 				        <input type="radio" id="visible-false" name="visible" value="0" th:field="*{visible}">
 				        <label for="visible-false">Not Visible</label>					
 					</div>
 					<br>
						<label>Categorie</label><br>
                     <div
                         th:each="category : ${categories}"
                         th:object="${category}"
                         class="mb-3">
                         <input 
                             type="checkbox" 
                             name="categories" 
                             th:value="*{id}" 
                             th:field="${photo.categories}">
                         <label>[[*{name}]]</label>
                     </div>
 						<input type="submit" value="save" class="btn btn-success">
	 		</form>
		</main>	
	</body>
</html>